@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sistema de Elecciones</h1>
        <p class="lead">Bienvenido al Sistema de Elecciones con Modelo-Vista Controlador.</p>
        
    </section>

    <div class="row">
        <section>
            <a>
                <img src="~/Imagenes/democ_real.jpeg" Height="548px" Width="100%"/>
            </a>
        </section>
    </div>
</main>